 <footer class="footer">
    <div class="footer-item">
      <h2 class="footer__title">Acerca De Nosotros</h2>
      <p class="footer__txt">
        Somos un grupo de estudiantes de IDAT.
        Desarrollamos aplicaciones fulstack utilizando tecnologias como HTML, CSS, JS, Node.js y SQL Server.

      </p>
      <p class="footer__txt">
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-google-plus-g"></i>
        <i class="fab fa-linkedin-in"></i>
        <i class="fab fa-jedi-order"></i>
      </p>
    </div>
    <div class="footer-item">
      <h2 class="footer__title">Get In Touch</h2>
      <h3 class="footer__subtitle">Direccion:</h3>
      <p class="footer__txt">156 Av. Marzano, Ciudad de Lima.</p>
      <h3 class="footer__subtitle">Contacto:</h3>
      <p class="footer__txt">Télefono : (01) 45654554</p>
      <p class="footer__txt">Email : info@example.com</p>
    </div>
    <div class="footer-item">

     
      <h2 class="footer__title">Enlaces Rápidos</h2>
      <a href="/home" class="footer__link">Home</a>
      <a href="/calculadora" class="footer__link">Calculadora</a>
      <a href="/reloj" class="footer__link">Reloj</a>
      <a href="/todolist" class="footer__link">Todo List</a>
      <a href="/nosotros" class="footer__link">Nosotros</a>
    </div>
    <div class="footer-item">
      <h2 class="footer__title">Contactenos</h2>
      <p class="footer__txt">Ingrese su correo para ponernerse en contacto con nosotros</p>
      <input type="email" class="footer__input" placeholder="Ingrese su Email....">
    </div>
    <div class="footer-item copy">
      <div class="footer__copy">© 2019 IDAT. Derechos Reservados | Design by <span class="copy__color">Jeremy
          Ayza</span> </div>

    </div>
</footer>