<header class="header">
    <div class="header__container">
      <h1 class="header__title">ALL STAR APPS</h1>
      <span class="icon-menu" id="btn-menu"><i class="fas fa-bars"></i></span>
      <nav class="nav" id="nav">
        <a href="/home" class="menu__link">HOME</a>
        <a href="/calculadora" class="menu__link">CALCULADORA</a>
        <a href="/reloj" class="menu__link">RELOJ</a>
        <a href="/todolist" class="menu__link">TODO LIST</a>
        <a href="/nosotros" class="menu__link">NOSOTROS</a>

      </nav>
    </div>

    </div>
</header>